<div class="container" style="max-width: 600px; padding-top: 39px;">
  <%= link_to mentorship_path(@mentorship) do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back-up" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M9 13l-4 -4l4 -4m-4 4h11a4 4 0 0 1 0 8h-1" />
    </svg>
    Back
  <% end %>
  <div class="p-3">
    <h1>Apply for a Mentorship</h1>
  </div>
  <%= simple_form_for [@mentorship, @application] do |f| %>
    <%= f.input :message, as: :text, placeholder: "Write a message", label: false %>
    <div class="submit-right">
      <%= f.submit "Submit Application", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
