  <div class="banner">
    <div class="container">
    <h1>Need direction</h1>
      <br>
      <p>Begin your journey today!</p>
     <br>
      <%= link_to "Start now", "#", class: "btn btn-ghost" %>
    </div>
  <div class="flexbox">
 </div>
<%= link_to "Log out", destroy_user_session_path, :method => :delete %>

