// overview table
.dashboard-full {
  margin: 6vh auto;
  padding: 8vh;
  background: white;
  width: 80vw;
  border-radius: 10px;
}

.dash-card {
  background-color: #eaeaff;
  width: 70%;
  height: 8em;
  margin: 1em 2em 1em 0em;
  border-radius: 10px;
  padding: 2%;
}

.dash-group {
  display: flex;
  justify-content: center;
}

.dash-cards {
  display: flex;
  flex-direction: column;
}

.top-card {
  width: 100%;
}

.top-group {
  width: 100%;
}
// Mentorship table

// table {
//   padding: 2em 0em 2em 0em;
// }

.full-option-list {
  padding: 1em;
  width: 100%;
  text-align: center;

}

.grey a{
  color: gray;
}

.headings {
  padding: 1em;
  width: 100%;
  text-align: center;
}

td {
  width: 25%;
}

#links{
  color: rgba(128, 128, 128, 0);
}
.full-option-list:hover #links{
  color: grey;
}

#mentorships{
  padding: 2em 0em;
}

.full-option-list tr:nth-child(odd) td{
  background-color: rgb(234,234,254);
}
#headings {
  background-color: white;
}

.bullets {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 3px;
}

p {
  margin: 0;
}
